
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-inner{
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

h2{
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel{
    padding-bottom: 50px;
}
