{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="static/style/about.css">
{% set _ = page_name.append('About') %}
{% endblock %}


{% block body %}
<h1>About</h1>
<p>This page contains information about the project and the team.</p>
<h2>Project Description</h2>
<p>This database contains information on various college basketball players, teams, and games. The idea is to provide a platform for fans to get easy access to stats and other relevant information for their favorite teams and players.
</p>

<h2>The Team (E8)</h2>

<div class="container">
    <div class="row row-custom">
        <div class="col-4 text-center">
            <h3>Tyler Black</h3>
            <img src="static/images/team/TylerB.jpg" alt="Tyler B" width="100%" height="auto">
        </div>
        <div class="col-8 align-self-center">
            <p>
                <b>Bio:</b>  I was born and raised in Austin, Texas. I was homeschooled through high school. I enjoy rock climbing, python, and watching sports.
                <br>
                <b>Tech core:</b> communications, software engineering
                <br>
                <b>Primary responsibilities:</b> API
            </p>
        </div>
    </div>
    <div class="row row-custom">
        <div class="col-4 text-center">
        <h3>Jack Burrus</h3>
            <img src="static/images/team/Jack.jpg" alt="Jack" width="100%" height="auto">
        </div>
        <div class="col-8 align-self-center">
            <p>
                <b>Bio:</b> I was born in Katy, Texas. I started programming in middle school, and it's one of my favorite things to do. I also enjoy playing video games.
                <br>
                <b>Tech core:</b> Software Engineering
                <br>
                <b>Primary responsibilities:</b> Website design
            </p>
        </div>
    </div>
    <div class="row row-custom">
        <div class="col-4 text-center">
        <h3>Tyler Pak</h3>
        <img src="static/images/team/TylerP.jpg" alt="Tyler P" width="100%" height="auto">
        </div>
        <div class="col-8 align-self-center">
            <p>
                <b>Bio:</b> Born in Landstuhl Germany and graduated high school in Daegu, South Korea. I spend my free time playing sports and fishing.
                <br>
                <b>Tech core:</b> Software Engineering
                <br>
                <b>Primary responsibilities:</b> Front end
            </p>
        </div>
    </div>
    <div class="row row-custom">
        <div class="col-4 text-center">
        <h3>Lucy Zheng</h3>
            <img src="static/images/team/Lucy.jpg" alt="Lucy" width="100%" height="auto">
        </div>
        <div class="col-8 align-self-center">
            <p>
                <b>Bio:</b> Born and lived in Toronto, Canada until I moved to Texas in 8th grade. I like to do any kind of arts and crafts when I have free time.
                <br>
                <b>Tech core:</b> Software Engineering
                <br>
                <b>Primary responsibilities:</b> Backend
            </p>
        </div>
    </div>
</div>

<h2>Other information</h2>
<h3>Data Sources</h3>
<ul>
    <li><a href="http://www.espn.com/apis/devcenter/docs/">http://www.espn.com/apis/devcenter/docs/</a></li>
    <li><a href="https://sportsdata.io/">https://sportsdata.io/</a></li>
</ul>
<h3>Tools</h3>
<ul>
    <li>MongoDB- Database used to store all information collected from the APIs we used.</li>
    <li>Bootstrap4- Used for making the website responsive and adding helpful features like the navbar./li>
    <li>Flask- Used for site framework and adding some functionality to the website.</li>
    <li>CSS- Used for styling the website to make it look nice and to have a consistent look across the site.</li>
    <li>Google Cloud- Used to deploy the website.</li>
    <li>Selenium- Used for testing site navigation and checking for broken links.</li>
    <li>Git/Github- Used for version control and sharing code.</li>
</ul>
<h3>Repository</h3>
<ul style="padding-bottom: 20px">
    <li><a href="https://github.com/UT-SWLab/TeamE8">https://github.com/UT-SWLab/TeamE8</a></li>
</ul>
{% endblock %}