{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block body %}
<h1>Games:</h1>

<p>Showing all games we currently have information on</p>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2 bg-success"><h4>GAME DATE:</h4></div>
    <div class="col-2 bg-success"><h4>HOME TEAM:</h4></div>
    <div class="col-2 bg-success"><h4>AWAY TEAM:</h4></div>
</div>
<div class="row">
    <div class="col-2"><img src="/static/images/UT-logo.png" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><img src="/static/images/OU-logo.jpg" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><h4><a href="game1">23 FEB 2019</a></h4></div>
    <div class="col-2"><h4>TEXAS</h4></div>
    <div class="col-2"><h4>OKLAHOMA</h4></div>
</div>
<div class="row">
    <div class="col-2"><img src="/static/images/WV-logo.png" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><img src="/static/images/OU-logo.jpg" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><h4><a href="game2">02 FEB 2019</a></h4></div>
    <div class="col-2"><h4>WEST VIRGINIA</h4></div>
    <div class="col-2"><h4>OKLAHOMA</h4></div>
</div>
<div class="row">
    <div class="col-2"><img src="/static/images/WV-logo.png" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><img src="/static/images/UT-logo.png" alt="Logo" style="width:80px;"></div>
    <div class="col-2"><h4><a href="game3">09 FEB 2019</a></h4></div>
    <div class="col-2"><h4>WEST VIRGINIA</h4></div>
    <div class="col-2"><h4>TEXAS</h4></div>
</div>
{% endblock %}