{% extends 'base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<br>
<div class="row">
    <div class="column"><a href="longhorns"><img src="/static/images/UT-logo.png" alt="UT Logo" width="200"></a></div>
    <div class="column"><h1>VS</h1></div>
    <div class="column"><a href="sooners"><img src="/static/images/OU-logo.jpg" alt="OU Logo" width="100"></a></div>
</div>
<br>
<div class="row">
    <div class="column">
        <h4>PLAYERS:</h4>
        <h4><a href="royce-hamm">Royce Hamm</a></h4>
    </div>
    <div class="column">
        <h4>DATE</h4>
        <h4>23 FEB 2019</h4>
        <br>
        <h4>SCORE</h4>
        <h4>67 - 69</h4>
        <br>
        <p>Location: University of Texas</p>
    </div>
    <div class="column">
        <h4>PLAYERS:</h4>
        <h4><a href="jalen-hill">Jalen Hill</a></h4>
    </div>
</div>
{% endblock %}