{% extends 'base.html' %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<br>
<div class="row">
    <div class="column"><a href="team-instance{{ home['_id'] }}"><img src="{{ home['logo'] }}" alt="Home Logo" width="200"></a></div>
    <div class="column"><h1>VS</h1></div>
    <div class="column"><a href="team-instance{{ away['_id'] }}"><img src="{{ away['logo'] }}" alt="Away Logo" width="200"></a></div>
</div>
<br>
<div class="row">
    <div class="column">
        <h4>PLAYERS:</h4>
        <h4><a href="royce-hamm">Royce Hamm</a></h4>
    </div>
    <div class="column">
        <h4>DATE</h4>
        <h4>{{ game['date'] }}</h4>
        <br>
        <h4>VENUE</h4>
        <h4>{{ game['venue'] }}</h4>
        <br>
    </div>
    <div class="column">
        <h4>PLAYERS:</h4>
        <h4><a href="jalen-hill">Jalen Hill</a></h4>
    </div>
</div>
{% endblock %}