{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append(game['home_name'] ~ ' vs ' ~ game['away_name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<br>
<div class="row">
    <div class="column"><a href="team-instance{{ home['_id'] }}" id="home"><img src="{{ home['logo'] }}" alt="Home Logo" width="200"></a></div>
    <div class="column"><h1>VS</h1></div>
    <div class="column"><a href="team-instance{{ away['_id'] }}" id="away"><img src="{{ away['logo'] }}" alt="Away Logo" width="200"></a></div>
</div>
<br>
<div class="row">
    <div class="column">
        <h4>PLAYERS:</h4>
        {% for player in home['roster'][0] %}
        {% if  player_exists(home['roster'][1][loop.index-1])   %}
        <h4><a href="player-instance{{ home['roster'][1][loop.index-1] }}" id="player" name ="{{ home['roster'][1][loop.index-1] }}">{{ player }}</a></h4>
        {% else %}  
        <h4>{{ player }} </h4>
        {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        <h4>DATE</h4>
        <h4>{{ game['date'] }}</h4>
        <br>
        <h4>VENUE</h4>
        <h4>{{ game['venue'] }}</h4>
        <br>
        <h4>SCORE</h4>
        <h4>{{ game['score'] }}</h4>
        <br>
    </div>
    <div class="column">
        <h4>PLAYERS:</h4>
        {% for player in away['roster'][0] %}
        {% if  player_exists(away['roster'][1][loop.index-1])   %}
        <h4><a href="player-instance{{ away['roster'][1][loop.index-1] }}" id="player" name ="{{ away['roster'][1][loop.index-1] }}">{{ player }}</a></h4>
        {% else %}  
        <h4>{{ player }} </h4>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}