{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append('Games') %}
<style>
.pagination {
    display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

</style>
{% endblock %}
{% block body %}
<h1>Games:</h1>

<p>Showing all games we currently have information on</p>

{% for row in games | batch(4) %}
<div class="row">
    {% for column in row %}
    <div class="col-3 bg-success">
        <a href="game-instance{{ column['_id'] }}"><img src="{{ column['thumbnail'] }}" alt="Thumbnail" style="width:80px;"></a>
        <h4>{{ column['name'] }}</h4>
        <h6>Venue: {{ column['venue'] }}</h6>
        <h6>HOME TEAM: {{ column['home_name'] }}</h6>
        <h6>AWAY TEAM: {{ column['away_name'] }}</h6>
    </div>
    {% endfor %}
   <br>
</div>
{% endfor %}


<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="games{{ cur_page - 1 }}">{{ cur_page - 1 }}</a>
  <a href="games{{ cur_page }}">{{ cur_page }}</a>
    <a href="games{{ cur_page + 1 }}">{{ cur_page + 1 }}</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}