{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="static/style/index.css">
{% endblock %}


{% block body %}
<h1>Home</h1>
<h2 style="text-align:center;"><b>Welcome to the College Basketball Internet Database!</b></h2>

<div id="home-car" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#home-car" data-slide-to="0" class="active"></li>
      <li data-target="#home-car" data-slide-to="1"></li>
      <li data-target="#home-car" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/players1">
          <h4 style="color:black; padding-top:10px;">Players<br></h4>
          <img src="static/images/Players.jpg" alt="Players">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/teams1">
          <h4 style="color:black; padding-top:10px;">Teams<br></h4>
          <img src="static/images/Teams.jpg" alt="Teams">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/games1">
          <h4 style="color:black; padding-top:10px;">Games<br></h4>
          <img src="static/images/Games.jpg" alt="Games">
        </a>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#home-car" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#home-car" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
{% endblock %}