{% extends 'base.html' %}
{% block head %}
{% set _ = page_name.append(player['name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
    text-align: center;
}
p {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<br>
<div class="container">
    <img src="{{ player['headshot'] }}" alt="Headshot" width="300">
</div>
<br>
<h4>{{ player['name'] }}</h4>
<p>Team: {{ player['team'] }}</p>
<p>Position: {{  player['position'] }}</p>
<p>Birthplace: {{ player['birthplace'] }}</p>
<p>Height: {{ player['height'] }}</p>
<p>Weight: {{ player['weight'] }}</p>
<p>Stats: {{ player['stats']}}</p>
{% endblock %}