{% extends 'base.html' %}
{% block head %}
{% set _ = page_name.append(player['name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}

h4 {
    text-align: center;
}
p {
    text-align: center;
}


.stats .row .column .row{
    border-top: 1px solid black;
}

.stats .row .column{
    vertical-align: middle;
}

</style>
{% endblock %}
{% block body %}
<h1>{{player['name']}}</h1>

<div class="container stats">
    <div class="row" >
        <div class="column">
            <div class="container">
                <img src="{{ player['headshot'] }}" alt="Headshot" height="300" width="auto">
            </div>
        </div>
        <div class="column">
            <div class="row" style="border-top: 0px">
                <div class="column">Team</div>
                <div class="column"><a href="team-instance{{ team['_id'] }}">{{player['team']}}</a></div>
            </div>
            <div class="row">
                <div class="column">Position</div>
                <div class="column">{{player['position']}}</div>
            </div>
            <div class="row">
                <div class="column">Birthplace</div>
                <div class="column">{{player['birthplace']}}</div>
            </div>
            <div class="row">
                <div class="column">Height</div>
                <div class="column">{{player['height']}}</div>
            </div>
            <div class="row">
                <div class="column">Weight</div>
                <div class="column">{{player['weight']}}</div>
            </div>
            {% for stat in stats %}
            <div class="row">
                <div class="column">{{stat['displayName']}}</div>
                <div class="column">{{stat['displayValue']}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <h2 style="text-align: left;">Schedule</h2>
        {% for game in team['schedule'] %}
            <div class="row">
            {% if  game_exists(game)   %}
                <div class ="column">
                <h4>{{ team['schedule'][game][0] }}</h4>
                </div> 
                <div class ="column">
                <h4><a href="game-instance{{ game }}" id="game">{{get_gameName(game)}}</a></h4>
                </div>
            {% else %}
            <div class ="column">
                <h4>{{ team['schedule'][game][0] }}</h4>
                </div> 
                <div class ="column">
                    <h4>----</h4>
                </div>
            {% endif %}
            </div>
        {% endfor %}
</div>
</div>
{% endblock %}