{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append('Players') %}
<style>
.pagination {
    display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ff6600;
  color: white;
}

.form .search-container {
  float: left;
}

.form input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 50%;
  border: 1px solid grey;
}

.form .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
}

.form .search-container button:hover {
  background: #ccc;
}

</style>

<script src="/static/script/autocomplete.js"></script>
{% endblock %}
{% block body %}
<h1>Players:</h1>

<p>Showing all players we currently have information on</p>
<div class="form">
    <form action="/players1" method="POST" autocomplete="off">
        <input type="text" name="content" id="content" placeholder="Search for player by name, position, team.." onkeyup="find_related(value)" list="empty">
        <input type="submit" value="Search">
        <datalist id="datalist">
          {% for option in word_list %}
            <option value="{{option}}"></option>
          {% endfor %}
        </datalist>
        <datalist id="empty"></datalist>
    </form>
</div>

{% for row in players | batch(4) %}
<div class="row">
    {% for column in row %}
    <div class="col-3" style="background-color:white;">
        <a href="player-instance{{ column['_id'] }}" id="reference"><img src="{{ column['headshot'] }}" alt="Headshot" style="width:80px;"> </a>
        <h4>{{ column['name'] }}</h4>
        <h6>POSITION: {{ column['position'] }}</h6>
        <h6>TEAM: {{ column['team'] }}</h6>
    </div>
    {% endfor %}
   <br>
</div>
{% endfor %}


<div class="pagination">
  {% if cur_page > 1 %}
  <a href="players{{ cur_page - 1 }}">&laquo;</a>
    {% if cur_page > 2 %}
    <a href="players{{ cur_page - 2 }}">{{ cur_page - 2 }}</a>
    {% endif %}
  <a href="players{{ cur_page - 1 }}">{{ cur_page - 1 }}</a>
    {% endif %}
  <a class="active" href="players{{ cur_page }}">{{ cur_page }}</a>
    {% if cur_page < pages %}
    {% if cur_page < pages-1 %}
    <a href="players{{ cur_page + 1 }}">{{ cur_page + 1 }}</a>
    {% endif %}
    {% if cur_page < pages-2 %}
    <a href="players{{ cur_page + 2 }}">{{ cur_page + 2 }}</a>
    {% endif %}
  <a href="players{{ cur_page + 1 }}">&raquo;</a>
    {% endif %}
</div>

{% endblock %}