{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append(team['name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  max-height:300px;
  overflow:auto;
  display: block;
}

ul li.roster{
    font-size: 20px;
}

.schedule .row{
    border-bottom: 1px dashed black;
}

</style>
{% endblock %}
{% block body %}
<h1>{{ team['name'] }}</h1>
<br>
<div class="row">
    <div class="column">
        <img src="{{ team['logo'] }}" alt="Logo" height="300" width="auto">
    </div>
    <div class="column">
        <h4>Roster</h4>
        <ul class="no-bullets">
        {% for player in team['roster'][0] %}
            {% if  player_exists(team['roster'][1][loop.index-1])   %}
            <li class = "roster"><a href="player-instance{{ team['roster'][1][loop.index-1] }}" id="player" name ="{{ team['roster'][1][loop.index-1] }}">{{ player }}</a></li>
            {% else %}  
            <li class = "roster">{{ player }} </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<br>
<div class="container schedule">
    <h2 style="text-align: left;">Schedule</h2>
    {% for game in team['schedule'] %}
        <div class="row">
        {% if  game_exists(game)   %}
            <div class ="column">
            <h5>{{ team['schedule'][game][0] }}</h5>
            </div> 
            <div class ="column">
            <h5><a href="game-instance{{ game }}" id="team">{{get_gameName(game)}}</a></h5>
            </div>
        {% else %}
        <div class ="column">
            <h5>{{ team['schedule'][game][0] }}</h5>
            </div> 
            <div class ="column">
                <h5>----</h5>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>
<!-- <p>Record: {{ team['record'] }}</p> -->

{% endblock %}