{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append(team['name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
<br>
<div class="container">
    <img src="{{ team['logo'] }}" alt="Logo" width="300">
</div>
<br>
<h4>{{ team['name'] }}</h4>
<div class="row">
    <div class="column">
        <h4>Roster:</h4>
        {% for player in team['roster'][0] %}
            {% if  player_exists(team['roster'][1][loop.index-1])   %}
            <h4><a href="player-instance{{ team['roster'][1][loop.index-1] }}" id="player" name ="{{ team['roster'][1][loop.index-1] }}">{{ player }}</a></h4>
            {% else %}  
            <h4>{{ player }} </h4>
            {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        <h4>Schedule:</h4>
        {% for game in team['schedule'] %}
            <div class="row">
            {% if  game_exists(game)   %}
                <div class ="column">
                <h4>{{ team['schedule'][game][0] }}</h4>
                </div> 
                <div class ="column">
                <h4><a href="game-instance{{ game }}" id="team">{{get_gameName(game)}}</a></h4>
                </div>
            {% else %}
            <div class ="column">
                <h4>{{ team['schedule'][game][0] }}</h4>
                </div> 
                <div class ="column">
                    <h4>----</h4>
                </div>
            {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<p>Record: {{ team['record'] }}</p>

{% endblock %}