{% extends 'base.html' %}

{% block head %}
{% set _ = page_name.append(team['name']) %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row {
    text-align: center;
    margin:0 auto;
}
.row .column{
   display:inline-block;
   vertical-align: middle;
   float: none;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  max-height:300px;
  overflow:auto;
  display: block;
}

ul li.roster{
    font-size: 20px;
}

.schedule .row{
    border-bottom: 1px dashed black;
}
.carousel-item img {
    width: 100%;
    height: 400px;
}

.carousel-inner{
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

h2{
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel{
    padding-bottom: 50px;
}


</style>
{% endblock %}
{% block body %}
<h1>{{ team['name'] }}</h1>
<div class="row align-items-center">
    <div class="column">
        <img src="{{ team['logo'] }}" alt="Logo" width="75%">
    </div>
    <div class="column">
        <h2>Roster</h2  >
        <ul class="no-bullets">
        {% for player in team['roster'][0] %}
            {% if  player_exists(team['roster'][1][loop.index-1])   %}
            <li class = "roster"><a href="player-instance{{ team['roster'][1][loop.index-1] }}" id="player" name ="{{ team['roster'][1][loop.index-1] }}">{{ player }}</a></li>
            {% else %}  
            <li class = "roster">{{ player }} </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<div id="team-car" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        {% for news in news_list %}
         <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
             <a href="{{ news['link'] }}">
             <h4 style="color:black; padding-top:10px;">{{ news['headline'] }}<br></h4>
             <img src="{{ news['images'][0] }}" alt="image">
             </a>
             <div class="carousel-caption d-none d-md-block bg-dark">
                 <p>{{ news['description'] }}</p>
             </div>
         </div>
        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#team-car" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#team-car" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container schedule">
    <h2 style="text-align: left;">Schedule</h2>
    {% for game in team['schedule'] %}
        <div class="row">
        {% if  game_exists(game)   %}
            <div class ="column">
            <h5>{{ team['schedule'][game][0] }}</h5>
            </div> 
            <div class ="column">
            <h5><a href="game-instance{{ game }}" id="team">{{get_gameName(game)}}</a></h5>
            </div>
        {% else %}
        <div class ="column">
            <h5>{{ team['schedule'][game][0] }}</h5>
            </div> 
            <div class ="column">
                <h5>----</h5>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>
<!-- <p>Record: {{ team['record'] }}</p> -->

{% endblock %}